*.pyc
.vscode/
__pycache__/*
wandb/*
data/*
*.Rdata
models/TotalDeltaETM_allgenes_ep2000_nlv32_bs512_combinebyadd_lr0.01
models/TotalDeltaETM_allgenes_ep2000_nlv16_bs512_combinebyadd_lr0.01
models/TotalDeltaETM_allgenes_ep2000_nlv16_bs512_combinebyadd
models/TotalDeltaETM_allgenes_ep2000_nlv8_bs512_combinebyadd_lr0.01
models/TotalDeltaETM_allgenes_ep2000_nlv4_bs512_combinebyconcat
models/TotalDeltaETM_allgenes_ep2000_nlv4_bs512_combinebyadd
models/TotalDeltaETM_allgenes_ep500_nlv4_bs256_combinebyconcat
models/DeltaETM_allgenes_ep500_nlv4_bs256
*.png
*.h5ad
*.pdf
*.DS_Store
.Rhistoy
.Rhistory
.RData
.RDataTmp
